#text-colour {color: blue; font-size: xx-large;}

.text-colour {color:  white; font-size: larger;}

.paragraph { color: red; font-size: large; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.right-image { display: block;
             float: right;
             width: 300px;
            overflow: auto;}

.container {background-color: white;
    width: 100%;
    padding: 10px;}

 